

form {
  background: #ddd;
  padding: 20px 10px;
}

#submitBtn {
background-color: green;
color: white;
padding: 5px 3px;
border-radius: 4px;
border-color: green;
}

#submitBtn:hover {
  background-color: lightgreen;
  border-color: lightgreen;
  cursor: pointer;
}

li {
 list-style-type: none;
}

#warning .warning-message {
  background-color:#ffcc00;
}